/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Form wrapper styles */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(223, 221, 221, 0.747);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Typography (h1) styles */
.form-heading {
  text-align: center;
}

/* Form element styles */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px;
}

/* Input element styles */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #FFE9D1;
  border-radius: 5px;
  margin-bottom: 15px;
}


/* Form options styles */
.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* Link styles */
.form-link {
  margin-left: auto;
  text-decoration: none;
  color: #007bff;
}

.form-link:hover {
  text-decoration: underline;
}
