/* Tüm sayfayı kaplayan konteyner */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Yüksekliği tüm ekran yüksekliği olarak ayarla */
  background-color: #f0f0f0; /* Arka plan rengi (isteğe bağlı) */
}

/* Formun sarıldığı div */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

/* Formun içindeki elemanlar */
form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Formun genişliği */
}

form div {
  margin-bottom: 15px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

form label {
  display: flex;
  align-items: center;
}

form a {
  margin-left: auto;
  text-decoration: none;
  color: #007bff;
}

form a:hover {
  text-decoration: underline;
}
