body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff93;
}

.home-page {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  min-height: 100vh;
}

.header {
  background-color: #dad9d9;
  padding: 10px;
  text-align: center;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #FF8C00;
  width: 300px;
  box-sizing: border-box;
}

.main-content {
  background-color: #ffffcc;
  padding: 20px;
  flex: 1;
  box-sizing: border-box;
}

.footer {
  background-color: #ffcc99;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
